#lifeInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border-color: rgb(192, 192, 192);
  padding: 0rem;
  background-color: rgba(192, 192, 192, 0.2);
  box-sizing: border-box;
  margin: 0 7.5rem;
}

.singleInfo span {
  margin-left: 1rem;
}

.lifeTime {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lifeTime span {
  margin-left: 1rem;
  font-size: 1rem;
}

#currentTime {
  width: 5rem;
}

#currentTemperature {
  width: 5rem;
}

#currentPower {
  width: 10rem;
}

@media (max-width: 750px) {
  #lifeInfo {
    position: relative;
    right: 0;
    top: 0;
  }
  .wrapperInfo {
    padding: 0;
  }
}
